<div class="newMovieCont">
    <h2>Edit movie</h2>
    <hr>
    <a href="/">Home</a>
    <br>
    <form action="/movies/{{movie.id}}/edit" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input id="title" type="text" name="title" value="{{movie.title}}">
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <input id="genre" type="text" name="genre" value="{{movie.genre}}">
        </div>
        <div class="form-group">
            <label for="plot">plot: {{movie.plot}}</label>
        </div>

        <div class="form-group">
            <label for="cast">Choose a celebritie:</label>
            <select multiple name="cast">
                {{#each  notInCast}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
                {{#each  movie.cast}}
                    <option value="{{this.id}}" selected>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        
        <input type="submit" value="Save">
    </form>
</div>